{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">אודות</legend>
        <div class="form-group">
            <span>תִּקְצוּב השתתפותי (participatory budgeting) הוא תהליך שבו האזרחים משתתפים באופן פעיל בקביעת סעיפי התקציב.
הרעיון הוא, שהעירייה מקדישה סכום כסף מסויים מהתקציב העירוני לכמה פרוייקטים שהיא שוקלת לבצע, אבל במקום שחברי מועצת העיר יחליטו מה לבצע ומה לא – הם מאפשרים לאזרחים לבחור. כל אזרח מקבל בקלפי רשימה של פריטי-התקציב העומדים להצבעה, עם תיאור של כל פריט והעלות של כל פריט, וכל אזרח מצביע בעד פריט אחד או יותר שהוא תומך בו.
בהתאם להצבעות, בוחרים תת-קבוצה של הפריטים, שהעלות הכוללת שלהם קטנה או שווה מהסכום הקצוב.
בתוך כך, נדרוש שההליך יהיה הוגן, וכן לא נחרוג מגבולות התקציב.</span>
        </div>
                <div class="form-group">
                    <span>באנלוגיה לפוליטיקה, התקציב הוא כמות המצביעים בבחירות לכנסת, או בפרמייריז של המפלגות, והפריטים הם נציגי המפלגה, להם מצביעים חברי המפלגה מתוך כוונה שהם ייצגו אותם.
                    </span>
                    <br>
            <span>מעת לעת מבוצעות בחירות מקדימות (פריימריז) במפלגות השונות, מתוך מטרה לבחור את רשימת הנציגים של המפלגה לכנסת. עם זאת, לא בכל מפגלה קיים הליך שכזה, ובחלקן אף משוריינים מקומות עבור גורמים מסוימים, לרוב משיקולים פוליטיים, ועל חשבון חברים אחרים שנבחרו עפ"י רוב קהל הבוחרים של המפלגה.
<br><br>כך או כך, נוצרת תחושה של חוסר הוגנות ואי מתן משקל הולם לחברי המפלגה, ומידי פעם ניתן לשמוע קולות במפלגות מסוג אלו, הקוראות לשנות את שיטת הבחירות המקדימות במפלגה.<br>
            </span>
            <span>אלגוריתם עזיז-לי-טלמון יוכל לסייע למפלגות לקיים פריימריז הוגנים, כך שהרשימה תורכב מהגורמים שקיבלו את מירב קולות הבוחרים, לצד האפשרות להצבעה כפולה ככל שישנם שיקולים נוספים בבחירת הנציגים לכנסת.
            </span>
                </div>
                <div class="form-group">
            <span>הפרויקט פותח ומלווה ע"י <a href="https://github.com/erelsgl/" target="_blank">ד"ר אראל סגל-הלוי</a> ואיתן ליכטמן, במסגרת קורס אלגוריתמים כלכליים,  אוניברסיטת אריאל תשפ"א</span>                </div>
        <a href="https://github.com/bmitay4/FairPrim" target="_blank"><img border="0" alt="GitHub" src="{{url_for('static', filename='profile_pics/github.png')}}"></a>

    </fieldset>
</div>
{% endblock content %}