{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">על האלגוריתם</legend>
        <div class="form-group">
            <span> פרויקט זה משתמש באלגוריתם של חריס עזיז, ברטון אלי ונמרוד טלמון במטרה למצוא הוגנות בבחירות המקדימות של המפלגות
  הפוליטיות, אם וכאשר ירצו בכך. </span>
            <br><br><span> הרעיון הוא ליצור הוגנות ולקבל את דעת רוב מצביעי המפלגה כאשר הם מצביעים לבחירות לפרלמנט, ולא להסתמך על
                שיטות
                אחרות לקידום גורמים אחרים משיקולים אישיים (שריונים וכן הלאה) </span>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <legend class="border-bottom mb-4">אופן פעולת האלגוריתם</legend>
        <div class="form-group">
            <p>נדבר על תקציב פרופורציונלי, כלומר אנחנו רוצים שהתקציב יהיה הוגן (להגינות יש כמה וכמה היבטים, נתמקד בהיבט
                מסוים)</p>
            <p>לצורך ההגדרה, נסמן את הסכום הקצוב באות L , ואת מספר האזרחים המצביעים באות n. </p>
        </div>
        <div class="form-group">

            <p>לפי אלגוריתם עזיז-לי-טלמון , לכל קבוצת מצביעים בגודל k מתוך n, הסכום המוקצב לפריטים, שלפחות אחד
                מחברי-הקבוצה רוצה, הוא לפחות העלות הגדולה ביותר של קבוצת-פריטים שכל חברי הקבוצה מסכימים עליהם, ועולה לכל
                היותר kL/n.</p>
            <p>לשם המחשה, נדבר על שימוש באלגוריתם לחלוקת המושבים בכנסת ישראל, כאשר לכל מושב (מנדט) יש עלות 1, ולכן
                התקציב הכולל הוא 120 (כמניין חברי הכנסת) ונממש את האלגוריתם עבור 3 מפלגות.
        </div>
        <div p="form-group">

            <p>אזי ‫התקציב L = 120, ונגדיר מס' אזרחים n = 312,000</p>
            <p>כל אזרח יכול להצביע לרשימת מועמדים אחת, ולכן לא ייתכן מצב שבו אזרח מצביע לשני מועמדים מרשימות שונות.
                לכן, עבור 3 המפלגות ו-120 המושבים, קבוצת הפריטים היא בגודל 120*3, ולכן קבוצת החזקה של סידורי הפריטים היא
                2^360.
                עם זאת, מאחר ואין אפשרות לבחירת מועמדים מתת קבוצה שגודלה > 120 (מאחר והתקציב הוא 120), וכן אין אפשרות
                לבחור מועמדים מתתי קבוצות המכילות מועמדים משתי רשימות שונות או יותר, ולכן קבוצת החזקה קטנה יותר</p>
            <img class="img-thumbnail" src="{{url_for('static', filename='profile_pics/math.png')}}">
        </div>
        <br><br>
        <div p="form-group">
            <p>כמובן שהאלגוריתם הרבה יותר מעניין עבור בחירות משולבות של המצביעים, כגון בחירה של משתתף משתי רשימות
                שונות.</p>
            <p>דוגמא טובה לכך, באם בבחירות המקדימות, יעדיפו לשריין מראש הצבעה נוספת לכל משתתף עבור מתמודדים מקבוצות מיעוט ומגזרים שונים, שקיים רצון במפלגה לקדם</p>
            <p>ובפרוש עלינו את הבחירות תשפ"א נאחל לכולנו בחירות הוגנות, דמוקרטיות וכאלו שייצגו את רצון העם</p>
        </div>
    </fieldset>
</div>


{% endblock content %}